.global-navbar__logo {
	@include size($navbar-logo--width + ($navbar-logo-border * 2), $navbar-height);
	float: left;
	position: relative;

	&::before,
	&::after {
		content: "";
		display: block;
		height: 100%;
		transform: skew(-25deg, 0);
	}

	&::before {
		@include position(absolute, 0 (-$navbar-logo-border) null 0);
		background: $c-red;

		@media (max-width: 1455px) {
			left: -($hamburger-button-size + $navbar-logo-border);
		}
	}

	&::after {
		@include position(absolute, 0 (-$navbar-logo-border * 2) null (-$navbar-logo-border));
		background: $c-red-dark;
		z-index: -1;
	}

	>a {
		display: block;
		height: $navbar-height;
		margin: auto;

		@media (min-width: 1456px) {
			width: $navbar-logo--width + ($navbar-logo-border * 3);
		}

		svg {
			@include position(relative, (($navbar-height - $navbar-logo--height) / 2) null);
			display: block;
			fill: $c-white;
			height: $navbar-logo--height;
			margin: auto;
		}
	}
}
