.global-nav {


	// .global-nav-container
	&-container {
		@include grid-container;
		@include margin(null auto);
		position: relative;

		@media screen and (min-width: 1024px) {
			max-width: 1400px;
		}

		>ul {
			display: inline-block;
			list-style-type: none;
			margin: 0;
			padding: 0 10px;
			position: relative;
			vertical-align: top;
			white-space: nowrap;

			>li {
				display: inline-block;
				line-height: $navbar-height;
				list-style-type: none;
				position: relative;
				text-align: center;
				vertical-align: top;

				>a {
					color: $c-shark;
					display: block;
					font-size: 13px;
					padding: 0 10px;
					position: relative;
					white-space: nowrap;

					&:hover {
						&::before {
							background-color: $c-red;
						}
					}

					&::before {
						@include position(absolute, null 0 0 0);
						background-color: transparent;
						content: "";
						height: $navbar-underline-height;
					}
				}
			}
		}
	}


	// STATE - .global-nav__is-hovering
	&__is-hovering {
		.sports-megamenu {
			&__button {
				color: $c-gray;

				&:hover {
					color: $c-white;
				}

				&--is-open {
					&.active {
						&:before {
							border-bottom-color: $c-white !important;
						}
					}
				}

				&.active {
					color: $c-white;

					&:before {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}
}
