.link-text {
	@media screen and (max-width: 1023px) and (min-width: 768px) {
		display: block;
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	@media screen and (min-width: 1024px) {
		display: inline;
	}
}
