.navbar-secondary {
	background: $c-white;
	border-radius: 1px;
	box-shadow: 0 4px 2px -2px $c-black-30;
	font-size: 13px;
	overflow: visible;
	position: relative;
	z-index: $zindex-navbar-secondary;

	&__logo {
		padding-right: 25px;

		&::after {
			@include position(absolute, 50% 8px null null);
			border-left: 1px solid $c-gray-lite;
			content: "";
			height: 25px;
			margin-top: -13px;
		}


		>a {
			display: table;

			&::before {
				display: none;
			}

			figure {
				padding-right: 40px;
				position: relative;

				img {
					@include position(absolute, 50% null null 0);
					@include size(30px);
					margin-top: -15px;
				}
			}

			figure,
			figcaption {
				display: table-cell;
				white-space: nowrap;
			}
		}
	}

	ul {
		@include padding(null 10px);

		>li {
			display: inline-block;
			line-height: $navbar-height;
			position: relative;
			vertical-align: top;

			>a {
				@include padding(null 10px);
				color: $c-shark;
				display: block;
				font-size: 13px;
				position: relative;
				white-space: nowrap;

				&:hover {
					&::before {
						background-color: $c-red;
					}
				}

				&::before {
					@include position(absolute, null 0 0 0);
					background-color: transparent;
					content: "";
					height: $navbar-underline-height;
				}
			}
		}
	}
}
