$c-black: #000;
$c-white: #fff;

$c-black-30: rgba($c-black, 0.3);

$c-shark: #2b2c2d;

$navbar-bg: $c-shark;
$navbar-box-shadow: 0 4px 2px -2px $c-black-30;
$navbar-height: 44px;

$navbar-underline-height: 4px;

$navbar-logo--height: 20px;
$navbar-logo--width: 88px;

$megamenu-box-shadow: 0 5px 10px $c-black-30;


$c-red: #d00;
$c-red-dark: #b40000;

$c-gray-lite: #cbccce;
$c-gray: #6c6d6f;
$c-gray-medium: #48494a;

$c-off-white: #f1f2f3;

$custom-grid--thirds: (columns: 3,
	gutter: 10px,
);

.global {
	&-navbar {
		background: $navbar-bg;
		// box-shadow: $navbar-box-shadow;
		font-size: 14px;
		position: relative;
		z-index: 1000045;


		&__logo {
			float: left;
			position: relative;

			&::before,
			&::after {
				content: "";
				display: block;
				height: $navbar-height;
				transform: skew(-25deg, 0);
			}

			&::before {
				@include position(absolute, 0 -10px null 0);
				background: $c-red;
			}

			&::after {
				@include position(absolute, 0 -20px null -10px);
				background: $c-red-dark;
				z-index: -1;
			}

			>a {
				@include size($navbar-logo--width, $navbar-height);

				svg {
					@include position(relative, (($navbar-height - $navbar-logo--height) / 2) null);
					display: block;
					fill: $c-white;
					height: 20px;
					margin-left: 15px;
					margin-right: 5px;
				}
			}
		}
	}

	&-nav {
		@media screen and (min-width: 1024px) {
			height: $navbar-height;
			overflow: visible;
			transition: height .2s ease-in-out;
			z-index: 1000040;
		}

		// .global-nav__is-hovering {
		// 	.sports-megamenu__button {
		// 		color: $c-gray;

		// 		&.active {
		// 			color: red;

		// 			&:before {
		// 				border-bottom-color: transparent;
		// 			}
		// 		}
		// 	}
		// }

		&__item {
			position: relative;

			// >a {
			// 	overflow: hidden;

			// }
		}

		>ul {
			@include clearfix;
			display: block;
			padding-left: 128px;

			@media screen and (min-width: 1024px) {
				// max-width: 1400px;
				padding-right: $navbar-logo--width;
			}

			>li {
				@media screen and (min-width: 1024px) {
					float: left;
					line-height: $navbar-height;
					list-style-type: none;

				}

				>a {
					outline: 0;

					@media screen and (min-width: 1024px) {
						@include padding(null 10px);
						animation: navTransition .2s ease-in;
						animation-fill-mode: forwards;
						color: $c-white;
						cursor: pointer;
						display: block;
						// position: relative;
						transition: opacity .2s ease-out;
					}


					.link-text-short {
						@media screen and (min-width: 1024px) {
							display: none;
						}
					}
				}
			}


		}
	}
}


.sports {
	&-megamenu {
		@include clearfix;

		@media screen and (min-width: 1024px) {
			@include position(absolute, null null null 0);
			@include margin(null auto);
			@include padding(8px null);
			background: $c-white;
			box-shadow: $megamenu-box-shadow;
			// display: none;
			display: flex;
			float: left;
			max-height: 680px;
			overflow: hidden;
			transition: max-height .2s ease-in;
			white-space: nowrap;
			z-index: 1000051;
		}

		&__button {
			position: relative;

			&--is-open,
			&.active {
				&::before {
					@include triangle("up", 16px, 8px, $c-white);
					@include position(absolute, null null 0 50%);
					content: "";
					margin-left: 16px * -.5;
				}
			}
		}


		&--nav {
			@media screen and (min-width: 1024px) {
				background: $c-white;
				display: block;
				float: left;
				padding: 0 8px;
			}

			>li {
				>a {
					@media screen and (min-width: 1024px) {
						border-radius: 3px;
						color: $c-gray;
						display: block;
						font-weight: 400;
						height: auto;
						line-height: 1.6;
						min-width: 200px;
						padding: 10px;
						position: relative;
						text-align: left;

						&:hover {
							background-color: $c-red;
							color: $c-white;
						}
					}
				}
			}

			.link-text {
				@media screen and (min-width: 1024px) {
					display: inline;
				}

				&-short {
					@media screen and (min-width: 1024px) {
						display: none;
					}
				}

			}
		}


		.dropdown {
			&__content {
				min-width: 660px;

				@media screen and (min-width: 1024px) {
					background: $c-off-white;
					border-radius: 6px;
					float: left;
					height: 416px;
					margin: 0 10px 0 0;
					overflow: hidden;
					padding: 8px 8px 0;
				}

				h6 {
					@include padding(null 8px);
					color: $c-gray-medium;
					display: block;
					font-size: 12px;
					font-weight: 600;
					margin-bottom: 8px;
					white-space: nowrap;
				}

				nav {

					>a {
						@include padding(4px);
						color: $c-gray;
						line-height: 1;

						&:hover {
							background-color: $c-white;
							border-radius: 4px;
						}

						>* {
							vertical-align: middle;
						}

						>img {
							@include size(24px);
							margin-right: 8px;
						}
					}
				}
			}

			&__division {
				@include grid-column(1, $custom-grid--thirds);
				@include margin(10px null);
			}
		}




	}
}


.global-nav-container {
	@include grid-container;
	@include margin(null auto);
	position: relative;

	@media screen and (min-width: 1024px) {
		max-width: 1400px;
	}

	>ul {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0 10px;
		position: relative;
		vertical-align: top;
		white-space: nowrap;

		>li {
			display: inline-block;
			line-height: 44px;
			list-style-type: none;
			position: relative;
			text-align: center;
			vertical-align: top;

			>a {
				color: $c-shark;
				display: block;
				font-size: 13px;
				padding: 0 10px;
				position: relative;
				white-space: nowrap;

				&:hover {
					&::before {
						background-color: $c-red;
					}
				}

				&::before {
					@include position(absolute, null 0 0 0);
					background-color: transparent;
					content: "";
					height: $navbar-underline-height;
				}
			}
		}
	}
}


.global-nav-secondary {
	background: $c-white;
	border-radius: 1px;
	box-shadow: 0 4px 2px -2px $c-black-30;
	// display: none;
	font-size: 13px;
	overflow: visible;
	position: relative;
	z-index: 1000042;

	.sport {
		padding-right: 25px;
		position: relative;

		&::after {
			@include position(absolute, 50% 8px null null);
			border-left: 1px solid $c-gray-lite;
			content: "";
			height: 25px;
			margin-top: -13px;
		}

		&__logo {
			padding-right: 40px;
			position: relative;

			img {
				@include position(absolute, 6px null null 0);
				width: 30px;
			}
		}

		>a {
			display: table;
			position: relative;

			span {
				display: table-cell;
				white-space: nowrap;
			}
		}
	}

}
